:root {
  --white: #f9f9f9;
  --dirty-white: #ebebeb;
  --black: #36383f;
  --gray: #85888c;
  --creamy: #edc098;
} /* variables*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 99vw;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: pacifico, sans-serif;
  max-width: 100vw;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 1593px) {
  .content {
    max-width: 1593px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header .content {
  justify-content: space-between;
  z-index: 20;
}
.header {
  background-color: var(--creamy);
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo {
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
}
.logo img {
  max-width: 50px;
  max-height: 50px;
}
.nav {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  padding: 10px;
  margin: 3.8px 10%;
  top: 0;
}
.menu li {
  list-style: none;
}
.menu a {
  display: inline-block;
  position: relative;
  color: var(--white);
}
.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.side-menu {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--creamy);
  height: 92vh;
}
main .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .content h2 {
  font-size: 5rem;
  color: var(--white);
  margin: 10px;
}
main .content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
main .content div a {
  display: inline-block;
  position: relative;
  color: var(--white);
  font-size: 5rem;
  transition: 0.5s;
}
main .content div a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

main .content div h1 {
  color: var(--dirty-white);
  font-weight: 100;
}

#arrow {
  width: 3vh;
  height: 3vh;
  align-self: center;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: -4vh;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  animation: bounce 2s infinite;
  z-index: 1;
}
@keyframes bounce {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  30% {
    transform: translateY(20px) rotate(45deg);
  }
  50% {
    transform: translateY(0) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

#coffee {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#coffee .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: large;
}
#coffee .left h3 {
  font-size: 3rem;
  color: var(--black);
  margin: 10px;
}
#coffee .left li {
  font-size: 2rem;
  color: var(--black);
  margin: 10px;
}
#coffee .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
#coffee .right img {
  max-width: 70%;
  border-radius: 10%;
}

.scrolling-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/webp_compressed/coffee2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scrolling-background .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scrolling-background .content h2 {
  filter: brightness(100%);
  display: inline-block;
  position: relative;
  color: var(--white);
  font-size: 4rem;
  font-weight: 100;
}
.scrolling-background .content h2::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.scrolling-background h2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#beer {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#beer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: large;
}
#beer .right h2 {
  font-size: 3rem;
  color: var(--black);
  margin: 10px;
}
#beer .right li {
  font-size: 2rem;
  color: var(--black);
  margin: 10px;
}
#beer .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
#beer .left img {
  max-width: 70%;
  border-radius: 10%;
}

footer {
  background-color: var(--gray);
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
footer .content img {
  max-width: 8vh;
}
footer .content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
footer .content div a {
  display: inline-block;
  position: relative;
  color: var(--white);
  font-size: 5rem;
  transition: 0.5s;
}
footer .content div a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
footer .content p a {
  display: inline-block;
  position: relative;
  color: var(--white);
}
footer .content p a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

footer .content p a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
