:root {
    --main: #352F44;
    --secondary: #5C5470;
    --additional: #B9B4C7;
    --light: #FAF0E6;
    --black: #000000;
    --white: #FFFFFF;
}

/*========================================*/
/* Resetowanie domyślnych stylów */
/*========================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: var(--main);
    font-family: 'Pacifico', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--light);
}

p {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 16px;
    color: var(--additional);
}
p.dark {
    color: var(--secondary);
}

h1 {
    font-size: 3em;
    font-weight: 400;
    color: var(--light);
    text-align: center;
}
h1.dark {
    color: var(--secondary);
}

h2 {
    font-size: 2em;
    font-weight: 400;
    color: var(--light);
    text-align: center;
}
h2.dark {
    color: var(--secondary);
}

h3 {
    font-size: 2em;
    font-weight: 400;
    color: var(--light);
    text-align: center;
}
h3.dark {
    color: var(--secondary);
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}
h4.dark {
    color: var(--secondary);
}
h4.center {
    text-align: center;
}

h5 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}
h5.dark {
    color: var(--secondary);
}

label {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--light);
}

label.button {
    border: 4px solid var(--light);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    user-select: none;
}

label.black {
    color: var(--black);
    border: 4px solid var(--black);
}

/*========================================*/
/* A */
/*========================================*/

/* .arrow {
    border: solid var(--light);
    border-width: 0 5px 5px 0;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 10vh;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    30% {
        transform: translateY(20px) rotate(45deg);
    }

    50% {
        transform: translateY(0) rotate(45deg);
    }

    100% {
        transform: translateY(0) rotate(45deg);
    }
} */

/*========================================*/
/* B */
/*========================================*/

button {
    background-color: transparent;
    color: var(--light);
    border: 4px solid var(--light);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    user-select: none;
}

/* button.approve {
    color: var(--green);
    border-color: var(--green);
}

button.black {
    color: var(--black);
    border-color: var(--black);
}

button.cancel {
    color: var(--red);
    border-color: var(--red);
} */

#button-arrow {
    border: solid var(--secondary);
    border-width: 5px 5px 0 0;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    position: relative;
    top: 2px;
}

#button-top {
    border-color: var(--main);
    border-radius: 15px;
    padding: 0;
    z-index: 20;
    position: fixed;
    bottom: 3%;
    right: 3%;
    height: 60px;
    width: 60px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    transition: border-color 0.2s ease-out;
    user-select: none;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background-light {
    background-color: var(--light);
}

.btn-primary {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--main);
}
.btn-primary:hover {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-primary:focus {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
    box-shadow: 0 0 0 0.25rem rgba(92, 84, 112, .5);
}

.btn-secondary {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary:hover {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--secondary);
}
.btn-secondary:focus {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: 0 0 0 0.25rem rgba(92, 84, 112, .5);
}

/*========================================*/
/* C */
/*========================================*/

.card {
    width: 80vw;
    min-height: 80vh;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.card-body {
    padding: .5rem;
}
.card-text {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    display: -webkit-box;
}
.card-title {
    height: 2em;
}

.content,
.content-row,
.content-column,
.content-flex,
.content-beetwen,
.content-around,
.content-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-row {
    flex-direction: row;
}

.content-column {
  display: flex;
  flex-direction: column;
}

.background-light {
    background-color: var(--light);
}

.btn-primary {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--main);
}
.btn-primary:hover {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-primary:focus {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
    box-shadow: 0 0 0 0.25rem rgba(92, 84, 112, .5);
}

.btn-secondary {
    color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary:hover {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--secondary);
}
.btn-secondary:focus {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: 0 0 0 0.25rem rgba(92, 84, 112, .5);
}

/*========================================*/
/* C */
/*========================================*/

.content,
.content-row,
.content-column,
.content-flex,
.content-beetwen,
.content-around,
.content-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-row {
    flex-direction: row;
}

.content-column {
    flex-direction: column;
    width: 80%;
}

.content-beetwen {
    justify-content: space-between;
    width: 100%;
    gap: 5vw;
}

.content-around {
    justify-content: space-around;
}

/* .content-start {
    align-items: flex-start;
} */

.content-unset {
    justify-content: unset;
}

.content-80 {
    width: 80%;
}

.content-start {
    align-items: flex-start;
}

/*========================================*/
/* F */
/*========================================*/
/* form {
    width: 350px;
}

form>div {
    width: 100%;
} */

.full-screen {
    width: 100vw;
    height: 100vh;
}

.full-width {
    width: 100%;
}

/*========================================*/
/* G */
/*========================================*/
.gap-h-2 {
    gap: 2vh;
}

.gap-h-5 {
    gap: 5vh;
}

.gap-h-10 {
    gap: 10vh;
}

/*========================================*/
/* H */
/*========================================*/
.half-smaller {
    width: 450px;
}

.half-bigger {
    width: calc(100% - 450px);
}

/*========================================*/
/* I */
/*========================================*/
/* img.profile {
    width: 200px;
    height: 200px;
} */

img.logo {
    max-height: 100px;
    max-width: 100px;
}
img.logo.small {
    max-height: 60px;
    max-width: 60px;
}
img.logo.rotate {
    transform: rotate(-45deg);
}

input {
    background-color: transparent;
    color: var(--black);
    border: 0;
    border-bottom: 4px solid var(--additional);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
    width: 100%;
}

/*========================================*/
/* I */
/*========================================*/
/* img.profile {
    width: 200px;
    height: 200px;
} */

input {
    background-color: transparent;
    color: var(--black);
    border: 0;
    border-bottom: 4px solid var(--additional);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
    width: 100%;
}

/* input::placeholder {
    color: var(--gray)
}

input~.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--light);
    transition: 0.25s ease-out;
}

input~.border.black {
    background-color: var(--black);
}

input:focus~.border {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]~label {
    cursor: pointer;
    color: var(--additional);
    user-select: none;
}

input[type="radio"]:checked~label {
    color: var(--light);
}

.icon>img {
    width: 12vw;
    height: 12vw;
    max-width: 60px;
    max-height: 60px;
    margin: 5px 2vw 5px 2vw;
    padding: 1px 1px 1px 1px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

/* Then style the iframe to fit in the container div with full height and width */
/* .iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

.image,
.image-round,
.image-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    max-height: 700px;
    max-width: 700px;
}

/* .image-round {
    max-width: 80%;
    border-radius: 5%;
}

.image-circle {
    border-radius: 50%;
    border: 4px solid var(--light);
}

.image-circle.black {
    border: 4px solid var(--black);
} */

/*========================================*/
/* M */
/*========================================*/
.mobile-display-full {
    width: 100%;
    padding: 20px 0 20px 0;
}

.mobile-display-none {
    display: none;
}

/*========================================*/
/* N */
/*========================================*/
/* .notification-card {
    background-color: var(--light);
    border: 4px solid var(--light);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    width: 80%;
}

.notification-icon {
    background-color: var(--red);
    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50%;

    position: absolute;
    margin-top: 7px;
    margin-left: 10px;

    color: var(--light);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
} */

/*========================================*/
/* P */
/*========================================*/
/* .profile {
  width: 50vw;
  height: 50vw;
} */

/*========================================*/
/* R */
/*========================================*/
.relative {
    position: relative;
}

/*========================================*/
/* S */
/*========================================*/

.screen-height {
    min-height: calc(100vh - 65px);
}

.scroll-box {
    height: 10vh;
    width: 5px;	
    background-color: var(--light);
}
.scroll-element {
    height: 3vh;
    width: 5px;
    background-color: var(--secondary);
    animation: scroll 2s ease-in-out 0s infinite normal forwards;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    90% {
        transform: translateY(7vh);
    }

    100% {
        opacity: 0;
    }
}
