<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kamil Urbanowski">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#352F44">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kamil Urbanowski - Blog</title>

    <link rel="icon" href="https://eskamxd.github.io/icons/oryginal/logo-dark.png">

    <!-- hreflang for SEO -->
    <link rel="alternate" href="https://eskamxd.github.io/view/en/blog.html" hreflang="en" />
    <link rel="alternate" href="https://eskamxd.github.io/view/pl/blog.html" hreflang="pl" />
    <link rel="alternate" href="https://eskamxd.github.io/view/en/blog.html" hreflang="x-default" />
    <link rel="canonical" href="https://eskamxd.github.io/view/en/blog.html" />
</head>

<body>
    <button onclick="topFunction()" id="button-top" class="content-flex" title="Go to top">
        <strong id="button-arrow"></strong>
    </button>
    <!-- Navigation bar -->
    <header class="header" id="main">
        <!-- Scroll watcher -->
        <div class="scroll-watcher"></div>
        <div class="content-beetwen screen-width">
            <div class="content-row">
                <!-- Logo -->
                <a href="home.html" class="icon"><img src="https://eskamxd.github.io/icons/oryginal/logo-light.png"
                        alt="logo" class="logo small rotate"></a>
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" unset />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                <!-- Menu -->
                <!-- <nav class="nav content-flex" style="background-image: url(../images/without-compression/navigation\ gif.gif); background-size: cover;"> -->
                <nav class="nav content-flex">
                    <ul class="menu">
                        <li>
                            <a class="floor" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="floor" href="about.html">O mnie</a>
                        </li>
                        <li>
                            <a class="floor" href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a class="floor" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Dropdown for language selection -->
            <div class="dropdown">
                <select id="language-switcher" class="form-select" onchange="changeLanguage()">
                    <option value="en">English</option>
                    <option value="pl" selected>Polski</option>
                </select>
            </div>
        </div>
    </header>
    <section class="background-image content-flex"
        style="background-image: url('https://eskamxd.github.io/background.webp');">
        <div class="content-column screen-height">
            <div class="content-column screen">
                <h1>404</h1>
                <p>Trwa budowa...</p>
            </div>
            <div id="scroll-action" class="content-row gap-h-2"
                style="position: absolute; bottom: 2vh; color: var(--light);">
                <div class="scroll-box">
                    <div class="scroll-element"></div>
                </div>
                <p>scroll</p>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <div class="content-row" style="background-color: var(--additional); border-radius: 15px;">
        <div id="carouselExampleDark" class="carousel carousel-dark slide full-width" data-bs-interval="5000"
            data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner content-flex content-unset screen-height">
                <div class="carousel-item active">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/photoshop.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/photoshop-small.webp"
                                    class="card-img-top image" alt="...">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Grafika komputerowa</h5>
                                <p class="card-text">Od lat fascynuję się grafiką komputerową i manipulacją zdjęć za
                                    pomocą programu Adobe Photoshop. Dzięki temu narzędziu potrafię tworzyć unikatowe
                                    projekty graficzne, od prostych banerów po skomplikowane foto-manipulacje. Moja
                                    umiejętność korzystania z różnych funkcji i efektów Photoshopa pozwala mi wyrazić
                                    swoją kreatywność i dopasować się do różnych potrzeb projektowych.</p>
                                <a href="portfolio.html#photoshop" class="btn btn-primary">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)" srcset="https://eskamxd.github.io/cards/html.webp"
                                    type="image/webp">
                                <img src="https://eskamxd.github.io/cards/html-small.webp" class="card-img-top image"
                                    alt="Kamil Urbanowski - WebMaster">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Tworzenie stron internetowych i zarządzanie nimi</h5>
                                <p class="card-text">Posiadam doświadczenie w tworzeniu responsywnych stron
                                    internetowych oraz ich zarządzaniu. Korzystam zarówno z kodu HTML, CSS i JavaScript,
                                    jak i popularnych platform CMS, takich jak Wordpress. Moja umiejętność pracy z
                                    różnymi builderami w Wordpressie oraz znajomość podstawowych technologii webowych
                                    pozwala mi tworzyć estetyczne i funkcjonalne strony, dostosowane do potrzeb
                                    klientów.</p>
                                <a href="portfolio.html#html" class="btn btn-primary">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/copywriting.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/copywriting-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - SEO & Copywriting">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">SEO & Copywriting</h5>
                                <p class="card-text">Copywriting to kolejna dziedzina, w której mam doświadczenie.
                                    Potrafię tworzyć treści reklamowe, opisy produktów oraz teksty na strony
                                    internetowe, które pomagają w pozycjonowaniu stron.</p>
                                <a href="portfolio.html#copywriting" class="btn btn-primary">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/CoffeeTime.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/CoffeeTime-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - CoffeeTime is a project that I created as part of my studies. It is
                                a web application that helps users organize their coffee meetings. php, html, css, js">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">CoffeeTime</h5>
                                <p class="card-text">CoffeeTime to projekt, który stworzyłem w ramach studiów. Jest to
                                    aplikacja internetowa, która pomaga użytkownikom zorganizować swoje spotkania przy
                                    kawie. Wykorzystuje ona technologie PHP, HTML, CSS i JavaScript, aby zapewnić
                                    użytkownikom intuicyjny interfejs i przyjemne doświadczenie użytkowania.</p>
                                <a href="portfolio.html#coffeetime" class="btn btn-primary">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/Simple-Blog-Management-System.webp"
                                    type="image/webp">
                                <img src="https://eskamxd.github.io/cards/Simple-Blog-Management-System-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - Simple Blog Management System is a project that I created to
                                facilitate blog management, python, gui, tkinter, ttkbootstrap">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Simple Blog Management System</h5>
                                <p class="card-text">Simple Blog Management System to projekt, który stworzyłem, aby
                                    ułatwić zarządzanie blogiem. Jest to aplikacja okienkowa, napisana w języku Python,
                                    która umożliwia użytkownikom zarządzanie treściami, dodawanie nowych postów, edycję
                                    istniejących oraz zarządzanie zdjęciami. Jest to prosty, ale skuteczny system, który
                                    ułatwia prowadzenie bloga przy większej ilości wpisów do ogarnięcia.</p>
                                <a href="portfolio.html#simple-blog-management-system" class="btn btn-primary">Czytaj
                                    więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/ReceiptRover.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/ReceiptRover-small.webp"
                                    class="card-img-top image"
                                    alt="Kamil Urbanowski - ReceiptRover, group project, python, gui, tkinter, ttkbootstrap">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">ReceiptRover</h5>
                                <p class="card-text">ReceiptRover to projekt grupowy, który stworzyłem wraz z grupą
                                    kolegów na studiach w celu ułatwienia zarządzania paragonami. Jest to aplikacja
                                    wykorzystująca technologię OCR, napisana w języku Python i uruchamiana w kontenerze
                                    Docker. Dzięki tej aplikacji użytkownicy mogą skanować paragony, automatycznie
                                    odczytywać zawarte na nich informacje oraz zarządzać nimi w sposób efektywny i
                                    zorganizowany.</p>
                                <a href="#portfolio.html#receiptrover" class="btn btn-primary">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer content-flex">
        <div class="content-column screen" style="gap: 5%;">
            <a href="/" class="social-button"><img src="https://eskamxd.github.io/icons/oryginal/logo-dark.png"
                    alt="Logo" class="logo rotate" loading="lazy"></a>
            <hr class="content-column">
            <!-- Social media icons -->
            <div class="social">
                <a href="https://www.facebook.com/Urban4G" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/facebook-dark.png" alt="Facebook link"
                        class="logo hover-scale"></a>
                <a href="https://www.instagram.com/urbanseskam/" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/instagram-dark.png" alt="Instagram link"
                        class="logo hover-scale"></a>
                <a href="https://twitter.com/EskamXD" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/twitter-dark.png" alt="Twitter link"
                        class="logo hover-scale"></a>
            </div>
            <p>
                All rights reserved &copy; 2024 by <a href="https://eskamxd.github.io" class="dark">Kamil
                    Urbanowski</a>
            </p>
        </div>
    </footer>

    <noscript>
        <link rel="stylesheet" href="https://eskamxd.github.io/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://eskamxd.github.io/css/navbar.css">
        <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://eskamxd.github.io/css/pc.css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="https://eskamxd.github.io/css/phone.css">
    </noscript>

    <!-- Load core css -->
    <script>
        (function () {
            var cssMain = document.createElement('link');
            cssMain.href = 'https://eskamxd.github.io/css/navbar.css';
            cssMain.rel = 'stylesheet';
            cssMain.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssMain);

            var cssPc = document.createElement('link');
            cssPc.href = 'https://eskamxd.github.io/css/pc.css';
            cssPc.rel = 'stylesheet';
            cssPc.type = 'text/css';
            cssPc.media = 'screen and (min-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPc);

            var cssPhone = document.createElement('link');
            cssPhone.href = 'https://eskamxd.github.io/css/phone.css';
            cssPhone.rel = 'stylesheet';
            cssPhone.type = 'text/css';
            cssPhone.media = 'screen and (max-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPhone);
        })();
    </script>

    <!-- Load bootstrap css -->
    <script>
        (function () {
            var cssBootstrap = document.createElement('link');
            cssBootstrap.href = 'https://eskamxd.github.io/bootstrap/css/bootstrap.min.css';
            cssBootstrap.rel = 'stylesheet';
            cssBootstrap.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssBootstrap);
        })();
    </script>

    <!-- Load core js -->
    <script>
        window.onload = function () {
            document.getElementById('side-menu').checked = false;
        }
    </script>

    <script>
        function changeLanguage() {
            const lang = document.getElementById('language-switcher').value;
            if (lang === 'pl') {
                window.location.href = "https://eskamxd.github.io/view/pl/portfolio.html";
            } else {
                window.location.href = "https://eskamxd.github.io/view/en/portfolio.html";
            }
        }

        // Funkcja, która ustawia odpowiedni język w dropdownie przy wczytaniu strony
        window.onload = function () {
            const currentUrl = window.location.href;
            const langSwitcher = document.getElementById('language-switcher');

            // Sprawdzamy URL, aby ustawić odpowiednią opcję jako wybraną
            if (currentUrl.includes("/pl/")) {
                langSwitcher.value = 'pl';
            } else {
                langSwitcher.value = 'en';
            }

            // Ustawienie menu na false po załadowaniu
            document.getElementById('side-menu').checked = false;
        };
    </script>

    <script src="https://eskamxd.github.io/js.js"></script>

    <!-- Load bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
