<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kamil Urbanowski">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#352F44">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kamil Urbanowski - Portfolio</title>

    <link rel="icon" href="https://eskamxd.github.io/icons/oryginal/logo-dark.png">

    <!-- hreflang for SEO -->
    <link rel="alternate" href="https://eskamxd.github.io/view/en/portfolio.html" hreflang="en" />
    <link rel="alternate" href="https://eskamxd.github.io/view/pl/portfolio.html" hreflang="pl" />
    <link rel="alternate" href="https://eskamxd.github.io/view/en/portfolio.html" hreflang="x-default" />
    <link rel="canonical" href="https://eskamxd.github.io/view/en/portfolio.html" />
</head>

<body>
    <button onclick="topFunction()" id="button-top" class="content-flex" title="Go to top">
        <strong id="button-arrow"></strong>
    </button>
    <!-- Navigation bar -->
    <header class="header" id="main">
        <!-- Scroll watcher -->
        <div class="scroll-watcher"></div>
        <div class="content-beetwen screen-width">
            <div class="content-row">
                <!-- Logo -->
                <a href="home.html" class="icon"><img src="https://eskamxd.github.io/icons/oryginal/logo-light.png"
                        alt="logo" class="logo small rotate"></a>
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" unset />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                <!-- Menu -->
                <!-- <nav class="nav content-flex" style="background-image: url(../images/without-compression/navigation\ gif.gif); background-size: cover;"> -->
                <nav class="nav content-flex">
                    <ul class="menu">
                        <li>
                            <a class="floor" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="floor" href="about.html">O mnie</a>
                        </li>
                        <li>
                            <a class="floor" href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a class="floor" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Dropdown for language selection -->
            <div class="dropdown">
                <select id="language-switcher" class="form-select" onchange="changeLanguage()">
                    <option value="en">English</option>
                    <option value="pl" selected>Polski</option>
                </select>
            </div>
        </div>
    </header>
    <section class="background-image content-flex"
        style="background-image: url('https://eskamxd.github.io/background.webp');">
        <div class="content-column screen-height">
            <div class="content-column screen">
                <h1>Kamil Urbanowski</h1>
                <p>Moje osiągnięcia</p>
            </div>
            <div id="scroll-action" class="content-row gap-h-2"
                style="position: absolute; bottom: 2vh; color: var(--light);">
                <div class="scroll-box">
                    <div class="scroll-element"></div>
                </div>
                <p>scroll</p>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <main class="content-row screen-height" style="border-radius: 15px;">
        <div class="content-column screen-width-60 gap-h-10" style="border-radius: 15px; padding: 20px 0;">
            <div id="photoshop" class="mb-5">
                <h3 class="dark underlined">Photoshop</h3>
                <p>Obrazy pokażą więcej niż słowa. Galeria:</p>

                <div class="gallery">
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Konkursowe.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Konkursowe.webp"
                                alt="Projekt konkursowy - Kamil Urbanowski" class="gallery-image" id="konkursowe">
                            <label style="color: black;" for="konkursowe">Projekt konkursowy</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp"
                                alt="Manipulacja otoczeniem - Kamil Urbanowski" class="gallery-image" id="manipulacja">
                            <label style="color: black;" for="manipulacja">Manipulacja otoczeniem</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe 4.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Profilowe 4.webp"
                                alt="Profilowe 4 - Kamil Urbanowski" class="gallery-image" id="profile-4">
                            <label style="color: black;" for="profile-4">Profilowe</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp"
                                alt="Profilowe (konkursowe) - Kamil Urbanowski" class="gallery-image"
                                id="profile-konkursowe">
                            <label style="color: black;" for="profile-konkursowe">Profilowe (konkursowe)</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/lab03.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/lab03.webp"
                                alt="Projekt laboratoryjny - Kamil Urbanowski" class="gallery-image" id="lab03">
                            <label style="color: black;" for="lab03">Projekt laboratoryjny</label>
                        </a>
                    </div>
                </div>
                <p>
                    *Dzięki zdjęciom konkursowym zostałem wyróżniony w konkursie <a class="dark"
                        href="https://faktyoswiecim.pl/dzieje-sie/edukacja/kreatywni-2021-nagrodzeni-foto/">"Kreatywni
                        2021"</a></p>
                </p>
            </div>

            <div id="seo" class="mb-5">
                <h3 class="dark underlined">SEO & Technical Optimization</h3>
                <p>Specjalizuję się głównie w technicznych aspektach SEO, takich jak optymalizacja struktury strony,
                    poprawa szybkości
                    ładowania oraz techniczne audyty SEO. Mniej koncentruję się na tworzeniu treści, skupiając się na
                    poprawnym
                    indeksowaniu strony, zarządzaniu przekierowaniami oraz wdrażaniu najlepszych praktyk SEO pod kątem
                    wydajności. Praca
                    nad stroną <a class="dark" href="https://twojaprywatnosc.pl" target="_blank">twojaprywatnosc.pl</a>
                    zaowocowała
                    znacznym wzrostem
                    ruchu organicznego, szczególnie dzięki poprawie technicznych aspektów strony, a także naciskiem na
                    wdrażanie kontentu z przemyślanymi słowami kluczowymi i dobrą strukturą treści.</p>
                <p>Poniżej znajduje się porównanie wyników strony <a class="dark" href="https://twojaprywatnosc.pl"
                        target="_blank">twojaprywatnosc.pl</a> na przestrzeni 3 miesięcy (między
                    10.08 a 10.10),
                    co pokazuje efekty przeprowadzonych działań technicznych:</p>
                <a href="https://eskamxd.github.io/images/webp-compression/poprawa-wyników-SEO.webp"
                    data-toggle="lightbox" class="image-placeholder d-flex flex-column"
                    style="width: 100%; border: 1px solid; border-radius: 15px">
                    <img src="https://eskamxd.github.io/images/webp-compression/poprawa-wyników-SEO.webp"
                        alt="Porównanie wyników SEO" style="width: 100%; height: 100%; object-fit: cover;" />
                    <p>Zrzut ekranu wyników z konsoli Google Search Console</p>
                </a>
            </div>

            <div id="programming-studies" class="mb-5">
                <h3 class="dark underlined">Programowanie na studiach</h3>
                <p>Podczas studiów opracowałem kilka aplikacji, skupiając się głównie na tworzeniu aplikacji webowych z
                    wykorzystaniem nowoczesnych technologii, takich jak React po stronie front-endu oraz Django po
                    stronie
                    back-endu. Te projekty pomogły mi pogłębić wiedzę na temat pełnego stacku i rozwijać umiejętności
                    tworzenia
                    dynamicznych, responsywnych i skalowalnych aplikacji.</p>

                <div id="coffeetime" class="mb-5">
                    <h3 class="dark underlined">Coffeetime</h3>
                    <p>CoffeeTime to moja autorska aplikacja internetowa, służąca do łączenia ludzi na spotkania przy
                        kawie.
                        Powstała na potrzeby projektu na studia, jednak rozwinięta została z pierwotnego pomysłu na
                        stronę
                        internetową kawiarni w akademiku. Aplikacja łączy podstawy technologii webowych (HTML, CSS,
                        JavaScript) z
                        językiem PHP jako głównym językiem back-endu. Użytkownicy mogą wybrać dogodny termin na
                        spotkanie, a system
                        automatycznie dopasowuje osoby i przydziela czas w ramach ich dostępności. Pomysł na aplikację
                        pojawił się,
                        jak można się domyślić... podczas picia kawy.</p>
                    <a class="btn btn-primary" href="https://github.com/EskamXD/CoffeeTime">Zobacz na GitHubie</a>
                </div>

                <div id="simple-blog-management-system" class="mb-5">
                    <h3 class="dark underlined">Simple Blog Management System</h3>
                    <p>Simple Blog Management System to aplikacja okienkowa napisana w Pythonie. Odzwierciedla moje
                        zainteresowanie
                        tworzeniem narzędzi, które ułatwiają pracę i automatyzują zadania. Pomysł zrodził się podczas
                        projektu, w
                        którym musiałem pisać posty na stronę internetową, optymalizując je pod kątem słów kluczowych
                        SEO.
                        Potrzebowałem narzędzia do łatwego zarządzania treścią, tworzenia miniatur postów oraz
                        sprawdzania
                        metadanych pod kątem ich długości. Aplikacja wykorzystuje bibliotekę Tkinter z nakładką
                        ttkbootstrap do
                        wyświetlania interfejsu i wdraża kilka wzorców projektowych, których nauczyłem się na zajęciach.
                    </p>
                    <a class="btn btn-primary" href="https://github.com/EskamXD/simple-blog-management-system">Zobacz na
                        GitHubie</a>
                </div>

                <div id="receiptrover" class="mb-5">
                    <h3 class="dark underlined">ReceiptRover</h3>
                    <p>ReceiptRover to aplikacja OCR (Optical Character Recognition) służąca do skanowania paragonów i
                        rejestrowania
                        wydatków, z możliwością późniejszej analizy. Została stworzona przeze mnie oraz grupę kolegów
                        jako projekt
                        zaliczeniowy na zajęcia z inżynierii oprogramowania. Moim głównym wkładem było stworzenie
                        dynamicznego
                        interfejsu użytkownika, ponownie z wykorzystaniem biblioteki Tkinter i ttkbootstrap, które były
                        mi już
                        dobrze znane z wcześniejszych projektów.</p>
                    <a class="btn btn-primary" href="https://github.com/Nokrad997/ReceiptRover">Zobacz na GitHubie</a>
                </div>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer class="footer content-flex">
        <div class="content-column screen" style="gap: 5%;">
            <a href="/" class="social-button"><img src="https://eskamxd.github.io/icons/oryginal/logo-dark.png"
                    alt="Logo" class="logo rotate" loading="lazy"></a>
            <hr class="content-column">
            <!-- Social media icons -->
            <div class="social">
                <a href="https://www.facebook.com/Urban4G" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/facebook-dark.png" alt="Facebook link"
                        class="logo hover-scale"></a>
                <a href="https://www.instagram.com/urbanseskam/" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/instagram-dark.png" alt="Instagram link"
                        class="logo hover-scale"></a>
                <a href="https://twitter.com/EskamXD" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/twitter-dark.png" alt="Twitter link"
                        class="logo hover-scale"></a>
            </div>
            <p>
                All rights reserved &copy; 2024 by <a href="https://eskamxd.github.io" class="dark">Kamil
                    Urbanowski</a>
            </p>
        </div>
    </footer>

    <noscript>
        <link rel="stylesheet" href="https://eskamxd.github.io/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://eskamxd.github.io/css/navbar.css">
        <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://eskamxd.github.io/css/pc.css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="https://eskamxd.github.io/css/phone.css">
    </noscript>


    <!-- Load core css -->
    <script>
        (function () {
            var cssMain = document.createElement('link');
            cssMain.href = 'https://eskamxd.github.io/css/navbar.css';
            cssMain.rel = 'stylesheet';
            cssMain.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssMain);

            var cssPc = document.createElement('link');
            cssPc.href = 'https://eskamxd.github.io/css/pc.css';
            cssPc.rel = 'stylesheet';
            cssPc.type = 'text/css';
            cssPc.media = 'screen and (min-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPc);

            var cssPhone = document.createElement('link');
            cssPhone.href = 'https://eskamxd.github.io/css/phone.css';
            cssPhone.rel = 'stylesheet';
            cssPhone.type = 'text/css';
            cssPhone.media = 'screen and (max-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPhone);
        })();
    </script>

    <!-- Load bootstrap css -->
    <script>
        (function () {
            var cssBootstrap = document.createElement('link');
            cssBootstrap.href = 'https://eskamxd.github.io/bootstrap/css/bootstrap.min.css';
            cssBootstrap.rel = 'stylesheet';
            cssBootstrap.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssBootstrap);
        })();
    </script>

    <!-- Load core js -->
    <script>
        window.onload = function () {
            document.getElementById('side-menu').checked = false;
        }
    </script>

    <script>
        function changeLanguage() {
            const lang = document.getElementById('language-switcher').value;
            if (lang === 'pl') {
                window.location.href = "https://eskamxd.github.io/view/pl/portfolio.html";
            } else {
                window.location.href = "https://eskamxd.github.io/view/en/portfolio.html";
            }
        }

        // Funkcja, która ustawia odpowiedni język w dropdownie przy wczytaniu strony
        window.onload = function () {
            const currentUrl = window.location.href;
            const langSwitcher = document.getElementById('language-switcher');

            // Sprawdzamy URL, aby ustawić odpowiednią opcję jako wybraną
            if (currentUrl.includes("/pl/")) {
                langSwitcher.value = 'pl';
            } else {
                langSwitcher.value = 'en';
            }

            // Ustawienie menu na false po załadowaniu
            document.getElementById('side-menu').checked = false;
        };
    </script>

    <script src="https://eskamxd.github.io/js.js"></script>

    <!-- Load bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://eskamxd.github.io/bootstrap/lightbox_bootrstrap.bundle.min.js"></script>

</body>

</html>
