<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kamil Urbanowski">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#352F44">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kamil Urbanowski - Portfolio</title>

    <link rel="icon" href="https://eskamxd.github.io/icons/oryginal/logo-dark.png">
</head>

<body>
    <button onclick="topFunction()" id="button-top" class="content-flex" title="Go to top">
        <div id="button-arrow"></div>
    </button>
    <!-- Navigation bar -->
    <header class="header" id="main">
        <!-- Scroll watcher -->
        <div class="scroll-watcher"></div>
        <div class="content-beetwen screen-width">
            <div class="content-row">
                <!-- Logo -->
                <a href="home.html" class="icon"><img src="https://eskamxd.github.io/icons/oryginal/logo-light.png" alt="logo"
                        class="logo small rotate"></a>
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" unset />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                <!-- Menu -->
                <!-- <nav class="nav content-flex" style="background-image: url(../images/without-compression/navigation\ gif.gif); background-size: cover;"> -->
                <nav class="nav content-flex">
                    <ul class="menu">
                        <li>
                            <a class="floor" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="floor" href="about.html">O mnie</a>
                        </li>
                        <li>
                            <a class="floor" href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a class="floor" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Język
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="portfolio.html">Polski</a></li>
                    <li><a class="dropdown-item" href="https://eskamxd.github.io/en/portfolio.html">Angielski</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="background-image content-flex" style="background-image: url('https://eskamxd.github.io/background.webp');">
        <div class="content-column screen-height">
            <div class="content-column screen">
                <h1>Kamil Urbanowski</h1>
                <p>Moje osiągnięcia</p>
            </div>
            <div id="scroll-action" class="content-row gap-h-2"
                style="position: absolute; bottom: 2vh; color: var(--light);">
                <div class="scroll-box">
                    <div class="scroll-element"></div>
                </div>
                <p>scroll</p>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <main class="content-row screen-height" style="border-radius: 15px;">
        <div class="content-column screen-width-60 gap-h-10" style="border-radius: 15px; padding: 20px 0;">
            <div id="photoshop">
                <h3 class="dark underlined">Photoshop</h3>
                <p>Myslę że w tym przypadku czyny powiedzą więcej niż słowa. Galeria:</p>
                <div class="gallery">
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Konkursowe.webp" target="_blank" class="gallery-item"><img
                                src="https://eskamxd.github.io/gallery/Konkursowe.webp" alt="Logo" class="gallery-image"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp" target="_blank" class="gallery-item"><img
                                src="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp" alt="Logo" class="gallery-image"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe 4.webp" target="_blank" class="gallery-item"><img
                                src="https://eskamxd.github.io/gallery/Profilowe 4.webp" alt="Logo" class="gallery-image"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp" target="_blank" class="gallery-item"><img
                                src="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp" alt="Logo" class="gallery-image"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/lab03.webp" target="_blank" class="gallery-item"><img
                                src="https://eskamxd.github.io/gallery/lab03.webp" alt="Logo" class="gallery-image"></a>
                    </div>
                </div>
            </div>
            <div id="html">
                <h3 class="dark underlined" style="max-width:100%;">HTML</h3>
                <p>Z językiem, HTML jestem zaznajomiony ponieważ wykorzystuje go do zarządzania stron, albo modyfikacji
                    ich. Zresztą jak widać cała ta strona jest ręcznie napisana przeze mnie przy wykorzystaniu właśnie
                    HTML/CSS/JS. </p>
            </div>
            <div id="copywriting">
                <h3 class="dark underlined">SEO & Copywriting</h3>
                <p>Poprzez zarzadzanie stronami nauczyłem się copywritingu z naciskiem na SEO strony, potrafię tworzyć
                    (przy niewielkiej pomocy) zróżnicowane teksty z naciskiem na zadane słowa kluczowe oraz SEO.
                    Nagłówki, paragrafy czy pogrubione słowa to podstawa. Rozbudowane opisy alternatywne, linki
                    wewnętrzne, grafiki? O tym nie każdy początkujący może wiedzieć. Jestem samoukiem, a naukę tematu są
                    wynikiem zleceń zarzadzania stronami. </p>
            </div>
            <div id="coffeetime">
                <h3 class="dark underlined">Coffeetime</h3>
                <p>CoffeeTime to moja autorska aplikacja internetowa, do łączenia ludzi na spotkania na kawę. Powstała
                    na potrzeby projektu na studia aczkolwiek jest ona rozwinięciem pomysłu na stronę internetową
                    kawiarni w akademiku. Aplikacja łączy w sobie podstawy pisania stron HTML/CSS/JS ale też głównie
                    język PHP. Aplikacja pozwala użytkownikom na wybranie dogodnego terminu na wypicie kawy, a następnie
                    system automatycznie łączy użytkowników i wyznacza im porę z zakresu ich godzin. Pomysł na nią wpadł
                    mi do głowy podczas... picia kawy.</p>
                <a class="btn btn-primary" href="https://github.com/EskamXD/CoffeeTime">View on GitHub</a>
            </div>
            <div id="simple-blog-management-system">
                <h3 class="dark underlined">Simple blog management system</h3>
                <p>Simple blog management system to aplikacja okienkowa napisana w języku python. Założeniem nawiązuje
                    ona do moich upodobań czyli tworzenia aplikacji ułatwiających życie i automatyzujących pracę. Pomysł
                    na nią zrodził się we mnie podczas zlecenia pisania postów na stronę do pozycjonowania słów
                    kluczowych. Potrzebowałem narzędzia dzięki któremu będę mógł w łatwy sposób kontrolować treści które
                    już napisałem, tworzyć miniatury do wpisów oraz sprawdzać ich metadane czy są odpowiedni długości.
                    Do wyświetlenia okienka używa ona biblioteki tkinter z nakładką ttkbootstrap. Wykorzystuje parę
                    wzorców projektowych których nauczyłem się na jednym z przedmiotów. </p>
                <a class="btn btn-primary" href="https://github.com/EskamXD/simple-blog-management-system">View on
                    GitHub</a>
            </div>
            <div id="receiptrover">
                <h3 class="dark underlined">Receiptrover</h3>
                <p>ReceiptRover - aplikacja OCR (Optical Character Recognition) do skanowania paragonów i zapisywania
                    swoich wydatków z możliwością ich późniejszej analizy. Została napisana przeze mnie oraz grupę
                    kolegów jako projekt zaliczeniowy z Inżynierii Oprogramowania. Moim głównym wkładem w aplikację było
                    stworzenie dynamicznego GUI. Ponownie użyłem tutaj biblioteki tkinter wraz z ttkobootstrapem, które
                    były mi już dobrze znajome po poprzedniej aplikacji. </p>
                <a class="btn btn-primary" href="https://github.com/Nokrad997/ReceiptRover">View on GitHub</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer content-flex">
        <div class="content-column screen" style="gap: 5%;">
            <a href="/" class="social-button"><img src="https://eskamxd.github.io/icons/oryginal/logo-dark.png" alt="Logo"
                    class="logo rotate" loading="lazy"></a>
            <hr class="content-column">
            <!-- Social media icons -->
            <div class="social">
                <a href="https://www.facebook.com/Urban4G" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/facebook-dark.png" alt="Facebook link" class="logo hover-scale"></a>
                <a href="https://www.instagram.com/urbanseskam/" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/instagram-dark.png" alt="Instagram link" class="logo hover-scale"></a>
                <a href="https://twitter.com/EskamXD" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/twitter-dark.png" alt="Twitter link" class="logo hover-scale"></a>
            </div>
            <p>
                All rights reserved &copy; 2024 by <a href="https://eskamxd.github.io" class="dark">Kamil
                    Urbanowski</a>
            </p>
        </div>
    </footer>
</body>
<noscript>
    <link rel="stylesheet" href="https://eskamxd.github.io/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://eskamxd.github.io/css/navbar.css">
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://eskamxd.github.io/css/pc.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="https://eskamxd.github.io/css/phone.css">
</noscript>

<!-- Load bootstrap css -->
<script>
    (function () {
        var cssBootstrap = document.createElement('link');
        cssBootstrap.href = 'https://eskamxd.github.io/bootstrap/css/bootstrap.min.css';
        cssBootstrap.rel = 'stylesheet';
        cssBootstrap.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(cssBootstrap);
    })();
</script>

<!-- Load core css -->
<script>
    (function () {
        var cssMain = document.createElement('link');
        cssMain.href = 'https://eskamxd.github.io/css/navbar.css';
        cssMain.rel = 'stylesheet';
        cssMain.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(cssMain);

        var cssPc = document.createElement('link');
        cssPc.href = 'https://eskamxd.github.io/css/pc.css';
        cssPc.rel = 'stylesheet';
        cssPc.type = 'text/css';
        cssPc.media = 'screen and (min-width: 768px)';
        document.getElementsByTagName('head')[0].appendChild(cssPc);

        var cssPhone = document.createElement('link');
        cssPhone.href = 'https://eskamxd.github.io/css/phone.css';
        cssPhone.rel = 'stylesheet';
        cssPhone.type = 'text/css';
        cssPhone.media = 'screen and (max-width: 768px)';
        document.getElementsByTagName('head')[0].appendChild(cssPhone);
    })();
</script>

<!-- Load core js -->
<script>
    window.onload = function () {
        document.getElementById('side-menu').checked = false;
    }
</script>
<script src="https://eskamxd.github.io/js.js"></script>

<!-- Load bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>