<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kamil Urbanowski">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#352F44">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kamil Urbanowski - About me</title>

    <link rel="icon" href="https://eskamxd.github.io/icons/oryginal/logo-dark.png">

    <!-- hreflang for SEO -->
    <link rel="alternate" href="https://eskamxd.github.io/view/en/about.html" hreflang="en" />
    <link rel="alternate" href="https://eskamxd.github.io/view/pl/about.html" hreflang="pl" />
    <link rel="alternate" href="https://eskamxd.github.io/view/en/about.html" hreflang="x-default" />
    <link rel="canonical" href="https://eskamxd.github.io/view/en/about.html" />
</head>

<body>
    <button onclick="topFunction()" id="button-top" class="content-flex" title="Go to top">
        <strong id="button-arrow"></strong>
    </button>
    <!-- Navigation bar -->
    <header class="header" id="main">
        <!-- Scroll watcher -->
        <div class="scroll-watcher"></div>
        <div class="content-beetwen screen-width">
            <div class="content-row">
                <!-- Logo -->
                <a href="home.html" class="icon"><img src="https://eskamxd.github.io/icons/oryginal/logo-light.png"
                        alt="logo" class="logo small rotate"></a>
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" unset />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                <!-- Menu -->
                <!-- <nav class="nav content-flex" style="background-image: url(../images/without-compression/navigation\ gif.gif); background-size: cover;"> -->
                <nav class="nav content-flex">
                    <ul class="menu">
                        <li>
                            <a class="floor" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="floor" href="about.html">About me</a>
                        </li>
                        <li>
                            <a class="floor" href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a class="floor" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Dropdown for language selection -->
            <div class="dropdown">
                <select id="language-switcher" class="form-select" onchange="changeLanguage()">
                    <option value="en" selected>English</option>
                    <option value="pl">Polski</option>
                </select>
            </div>
        </div>
    </header>
    <section class="background-image content-flex"
        style="background-image: url('https://eskamxd.github.io/background.webp');">
        <div class="content-column screen-height">
            <div class="content-column screen">
                <h1>Kamil Urbanowski</h1>
                <p>A shortened version of me.</p>
            </div>
            <div id="scroll-action" class="content-row gap-h-2"
                style="position: absolute; bottom: 2vh; color: var(--light);">
                <div class="scroll-box">
                    <div class="scroll-element"></div>
                </div>
                <p>scroll</p>
            </div>
        </div>
    </section>
    <main class="content-row screen-height" style="border-radius: 15px;">
        <div class="content-column screen-width-60 gap-h-5" style="border-radius: 15px; padding: 20px 0;">
            <h2 class="dark"><q>Kamil Urbanowski - The Ordinary Story of an Extraordinary Guy</q></h2>
            <h3 class="dark underlined">Introduction</h2>
                <p>A word of introduction. Dear reader, this is a brief summary of my life, delicately embellished with
                    my humor. Please, read it with a wink. Just for "relaxation."</p>
                <p>&nbsp;</p>
                <h3 class="dark underlined">2003</h2>
                    <p>For as long as I can remember, I've been a rather quiet child. All it took was a toy car, and I
                        would disappear into the vast expanses of roads for hours. I could have a great time with a
                        small toy using my imagination. However, being a quiet child also brought along shyness and
                        limited social interactions with other peers. I won't claim I was a loner, but I wasn't the most
                        popular kid nor the most talkative. I had a group of friends with whom I could always go out on
                        bikes, kick a ball around, or play at the playground.</p>
                    <p>&nbsp;</p>
                    <h3 class="dark underlined">2007</h2>
                        <p>The popular Danish building blocks quickly became an extension of my childhood imagination.
                            Thanks to them, I could nurture my creativity. I always liked unconventional structures, and
                            the original sets, once assembled, quickly transformed into one whole big project.
                        <p>&nbsp;</p>
                        <h3 class="dark underlined">2010</h2>
                            <p>In the fourth grade of elementary school, I managed to persuade my dad to buy me my first
                                smartphone. Sony Xperia E. Extremely clumsy design with markedly inefficient components.
                                But that was enough for a young mind, then a 10-year-old, to taste the infinite realm of
                                information flow and development. So, I started playing games. Yes... Unfortunately, it
                                didn't improve my social skills; in fact, it made them worse. While I might be able to
                                tell my grandchildren how their granddad didn't discover the first games on Android
                                (Fruit Ninja, Hill Climb Racing, Jetpack Joyride, Pou, Subway Surfers... etc. the list
                                goes on), I won't hide the fact that I don't look back on that time too fondly.</p>
                            <p>&nbsp;</p>
                            <h3 class="dark underlined">2013</h2>
                                <p>In middle school, I tried to bounce back from the "loneliness" for nearly two years.
                                    The result wasn't dazzling, but at least I wasn't the nerd sitting alone in a corner
                                    of the hallway playing on my phone. Middle school was also the time when I moved
                                    with my parents from the city to the neighboring village, to a single-family home. I
                                    could then buy my own desktop computer because I had my own room and plenty of
                                    space. Hah, admittedly, on the first day, I managed to catch my first Trojan virus
                                    in life, but those who do nothing make no mistakes, right? In my school, there were
                                    extracurricular activities where we could build robots with Lego bricks
                                    (Mindstorms). A paradise for young Kamil. Modestly speaking, one of my robots was
                                    even showcased at a fair in another middle school, and I presented its capabilities
                                    on stage. Moreover, I quickly became acquainted with the teacher leading the
                                    activities. Mr. Jacek was a tech enthusiast; we spent many hours discussing
                                    computers, IT, and various interesting technologies (that's when I learned about
                                    CERN and that I could have a skateboard like Marty McFly if only superconductors
                                    didn't consume so much liquid nitrogen.) Among the minor achievements in middle
                                    school:</p>
                                <ul>
                                    <li>I recreated the PacMan game in Scratch during a computer science class.</li>
                                    <li>I proudly sat in the PE teacher's office during school assemblies and took care
                                        of the audio setup.</li>
                                    <li>operated projectors for teachers during classes.</li>
                                    <li>And I could boast of knowing the administrator account password - it was ******,
                                        but shh, don't tell anyone.</li>
                                </ul>
                                <p>As you can see, the teenage years ignited a passion for computer science in me, which
                                    continues to this day.</p>
                                <p>&nbsp;</p>
                                <h3 class="dark underlined">2016</h2>
                                    <p>Only in technical high school, among my flock (computer geeks), people who
                                        understand zeros and ones (Homo cypherus), did I develop my soft skills and
                                        polish my "chatter." I consider this one of the most beautiful periods of life,
                                        especially the age of 18. Unfortunately, as we know, this beautiful carefree
                                        image was disrupted by an unexpected bat soup. Although, I won't lie. It had its
                                        charm too. One of my fondest memories is playing Minecraft with 8 people until 4
                                        in the morning, when the sun was rising beautifully, and the roosters were
                                        crowing.</p>
                                    <p>&nbsp;</p>
                                    <h3 class="dark underlined">2021</h2>
                                        <p>And so, this is the summary, now I'm a student, adult life, independence, but
                                            with a bit of relaxation because I'm still in the dormitory. When I was
                                            going to college, everyone said, "it's just hard studying," "wouldn't it be
                                            better for you to get a job?" etc. Only one person said, "go, you won't find
                                            anywhere as good as in full-time studies for your parents' money," those
                                            were the words of my mom, and she was quite right. Of course, that doesn't
                                            mean I'm lounging around all day like a couch potato. It simply means that I
                                            can use this time to focus on self-improvement and finding my path in life.
                                        </p>
                                        <p>Certainly, one could say that just like MS Office evolved over time, I also
                                            evolved along with it. Interesting... *blink*</p>

        </div>
    </main>
    <!-- Portfolio -->
    <div class="content-row" style="background-color: var(--additional); border-radius: 15px;">
        <div id="carouselExampleDark" class="carousel carousel-dark slide full-width" data-bs-interval="5000"
            data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner content-flex content-unset screen-height">
                <div class="carousel-item active">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/photoshop.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/photoshop-small.webp"
                                    class="card-img-top image"
                                    alt="Kamil Urbanowski - Photoshop, Computer Design, Computer Graphics">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Computer Graphics</h5>
                                <p class="card-text">For years, I've been fascinated by computer graphics and photo
                                    manipulation using Adobe Photoshop. With this tool, I can create unique graphic
                                    projects, from simple banners to complex photo manipulations. My ability to use
                                    various features and effects of Photoshop allows me to express my creativity and
                                    adapt to different project needs.</p>
                                <a href="portfolio.html#photoshop" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)" srcset="https://eskamxd.github.io/cards/html.webp"
                                    type="image/webp">
                                <img src="https://eskamxd.github.io/cards/html-small.webp" class="card-img-top image"
                                    alt="Kamil Urbanowski - WebMaster">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Website Development and Management</h5>
                                <p class="card-text">I have experience in creating responsive websites and managing
                                    them. I use HTML, CSS, and JavaScript, as well as popular CMS platforms like
                                    Wordpress. My ability to work with various builders in Wordpress and my knowledge of
                                    basic web technologies allow me to create aesthetic and functional websites tailored
                                    to the needs of clients.</p>
                                <a href="portfolio.html#html" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/copywriting.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/copywriting-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - SEO & Copywriting">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">SEO & Copywriting</h5>
                                <p class="card-text">Copywriting is another field where I have experience. I can create
                                    advertising content, product descriptions, and website texts that help with website
                                    positioning.</p>
                                <a href="portfolio.html#copywriting" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/CoffeeTime.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/CoffeeTime-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - CoffeeTime is a project that I created as part of my studies. It is
                                a web application that helps users organize their coffee meetings. php, html, css, js">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">CoffeeTime</h5>
                                <p class="card-text">CoffeeTime is a project that I created as part of my studies. It is
                                    a web application that helps users organize their coffee meetings. It utilizes PHP,
                                    HTML, CSS, and JavaScript technologies to provide users with an intuitive interface
                                    and a pleasant user experience.</p>
                                <a href="portfolio.html#coffeetime" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/Simple-Blog-Management-System.webp"
                                    type="image/webp">
                                <img src="https://eskamxd.github.io/cards/Simple-Blog-Management-System-small.webp"
                                    class="card-img-top image" alt="Kamil Urbanowski - Simple Blog Management System is a project that I created to
                                facilitate blog management, python, gui, tkinter, ttkbootstrap">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">Simple Blog Management System</h5>
                                <p class="card-text">Simple Blog Management System is a project that I created to
                                    facilitate blog management. It is a desktop application written in Python, which
                                    allows users to manage content, add new posts, edit existing ones, and manage
                                    images. It is a simple yet effective system that makes blog management easier,
                                    especially when dealing with a larger number of posts.</p>
                                <a href="portfolio.html#simple-blog-management-system" class="btn btn-primary">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content-flex content-around">
                        <div class="card content-flex">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="https://eskamxd.github.io/cards/ReceiptRover.webp" type="image/webp">
                                <img src="https://eskamxd.github.io/cards/ReceiptRover-small.webp"
                                    class="card-img-top image"
                                    alt="Kamil Urbanowski - ReceiptRover, group project, python, gui, tkinter, ttkbootstrap">
                            </picture>
                            <div class="card-body">
                                <h5 class="card-title dark">ReceiptRover</h5>
                                <p class="card-text">ReceiptRover is a group project that I created with a team of
                                    colleagues during my studies to simplify receipt management. It is an application
                                    using OCR technology, written in Python, and executed in a Docker container. With
                                    this application, users can scan receipts, automatically extract information from
                                    them, and efficiently organize and manage them.</p>
                                <a href="portfolio.html#receiptrover" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer content-flex">
        <div class="content-column screen" style="gap: 5%;">
            <a href="/" class="social-button"><img src="https://eskamxd.github.io/icons/oryginal/logo-dark.png"
                    alt="Logo" class="logo rotate" loading="lazy"></a>
            <hr class="content-column">
            <!-- Social media icons -->
            <div class="social">
                <a href="https://www.facebook.com/Urban4G" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/facebook-dark.png" alt="Facebook link"
                        class="logo hover-scale"></a>
                <a href="https://www.instagram.com/urbanseskam/" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/instagram-dark.png" alt="Instagram link"
                        class="logo hover-scale"></a>
                <a href="https://twitter.com/EskamXD" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/twitter-dark.png" alt="Twitter link"
                        class="logo hover-scale"></a>
            </div>
            <p>
                All rights reserved &copy; 2024 by <a href="https://eskamxd.github.io" class="dark">Kamil
                    Urbanowski</a>
            </p>
        </div>
    </footer>

    <noscript>
        <link rel="stylesheet" href="https://eskamxd.github.io/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://eskamxd.github.io/css/navbar.css">
        <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://eskamxd.github.io/css/pc.css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="https://eskamxd.github.io/css/phone.css">
    </noscript>

    <!-- Load core css -->
    <script>
        (function () {
            var cssMain = document.createElement('link');
            cssMain.href = 'https://eskamxd.github.io/css/navbar.css';
            cssMain.rel = 'stylesheet';
            cssMain.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssMain);

            var cssPc = document.createElement('link');
            cssPc.href = 'https://eskamxd.github.io/css/pc.css';
            cssPc.rel = 'stylesheet';
            cssPc.type = 'text/css';
            cssPc.media = 'screen and (min-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPc);

            var cssPhone = document.createElement('link');
            cssPhone.href = 'https://eskamxd.github.io/css/phone.css';
            cssPhone.rel = 'stylesheet';
            cssPhone.type = 'text/css';
            cssPhone.media = 'screen and (max-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPhone);
        })();
    </script>

    <!-- Load bootstrap css -->
    <script>
        (function () {
            var cssBootstrap = document.createElement('link');
            cssBootstrap.href = 'https://eskamxd.github.io/bootstrap/css/bootstrap.min.css';
            cssBootstrap.rel = 'stylesheet';
            cssBootstrap.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssBootstrap);
        })();
    </script>

    <!-- Load core js -->
    <script>
        window.onload = function () {
            document.getElementById('side-menu').checked = false;
        }
    </script>

    <script>
        function changeLanguage() {
            const lang = document.getElementById('language-switcher').value;
            if (lang === 'pl') {
                window.location.href = "https://eskamxd.github.io/view/pl/portfolio.html";
            } else {
                window.location.href = "https://eskamxd.github.io/view/en/portfolio.html";
            }
        }

        // Funkcja, która ustawia odpowiedni język w dropdownie przy wczytaniu strony
        window.onload = function () {
            const currentUrl = window.location.href;
            const langSwitcher = document.getElementById('language-switcher');

            // Sprawdzamy URL, aby ustawić odpowiednią opcję jako wybraną
            if (currentUrl.includes("/pl/")) {
                langSwitcher.value = 'pl';
            } else {
                langSwitcher.value = 'en';
            }

            // Ustawienie menu na false po załadowaniu
            document.getElementById('side-menu').checked = false;
        };
    </script>

    <script src="https://eskamxd.github.io/js.js"></script>

    <!-- Load bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
