<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kamil Urbanowski">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#352F44">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kamil Urbanowski - Portfolio</title>

    <link rel="icon" href="https://eskamxd.github.io/icons/oryginal/logo-dark.png">

    <!-- hreflang for SEO -->
    <link rel="alternate" href="https://eskamxd.github.io/view/en/portfolio.html" hreflang="en" />
    <link rel="alternate" href="https://eskamxd.github.io/view/pl/portfolio.html" hreflang="pl" />
    <link rel="alternate" href="https://eskamxd.github.io/view/en/portfolio.html" hreflang="x-default" />
    <link rel="canonical" href="https://eskamxd.github.io/view/en/portfolio.html" />
</head>

<body>
    <button onclick="topFunction()" id="button-top" class="content-flex" title="Go to top">
        <strong id="button-arrow"></strong>
    </button>
    <!-- Navigation bar -->
    <header class="header" id="main">
        <!-- Scroll watcher -->
        <div class="scroll-watcher"></div>
        <div class="content-beetwen screen-width">
            <div class="content-row">
                <!-- Logo -->
                <a href="home.html" class="icon"><img src="https://eskamxd.github.io/icons/oryginal/logo-light.png"
                        alt="logo" class="logo small rotate"></a>
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" unset />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                <!-- Menu -->
                <!-- <nav class="nav content-flex" style="background-image: url(../images/without-compression/navigation\ gif.gif); background-size: cover;"> -->
                <nav class="nav content-flex">
                    <ul class="menu">
                        <li>
                            <a class="floor" href="home.html">Home</a>
                        </li>
                        <li>
                            <a class="floor" href="about.html">About me</a>
                        </li>
                        <li>
                            <a class="floor" href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a class="floor" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Dropdown for language selection -->
            <div class="dropdown">
                <select id="language-switcher" class="form-select" onchange="changeLanguage()">
                    <option value="en" selected>English</option>
                    <option value="pl">Polski</option>
                </select>
            </div>
        </div>
    </header>
    <section class="background-image content-flex"
        style="background-image: url('https://eskamxd.github.io/background.webp');">
        <div class="content-column screen-height">
            <div class="content-column screen">
                <h1>Kamil Urbanowski</h1>
                <p>My works</p>
            </div>
            <div id="scroll-action" class="content-row gap-h-2"
                style="position: absolute; bottom: 2vh; color: var(--light);">
                <div class="scroll-box">
                    <div class="scroll-element"></div>
                </div>
                <p>scroll</p>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <main class="content-row screen-height" style="border-radius: 15px;">
        <div class="content-column screen-width-60 gap-h-10" style="border-radius: 15px; padding: 20px 0;">
            <div id="photoshop" class="mb-5">
                <h3 class="dark underlined">Photoshop</h3>
                <p>Images will speak louder than words. Gallery:</p>

                <div class="gallery">
                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Konkursowe.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Konkursowe.webp"
                                alt="Competition project - Kamil Urbanowski" class="gallery-image" id="competition">
                            <label style="color: black;" for="competition">Competition project</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Manipulacja otoczeniem.webp"
                                alt="Environmental manipulation - Kamil Urbanowski" class="gallery-image"
                                id="manipulation">
                            <label style="color: black;" for="manipulation">Environmental manipulation</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe 4.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Profilowe 4.webp"
                                alt="Profile picture 4 - Kamil Urbanowski" class="gallery-image" id="profile-4">
                            <label style="color: black;" for="profile-4">Profile picture</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/Profilowe (konkursowe).webp"
                                alt="Profile (competition) - Kamil Urbanowski" class="gallery-image"
                                id="profile-competition">
                            <label style="color: black;" for="profile-competition">Profile (competition)</label>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="https://eskamxd.github.io/gallery/lab03.webp" data-toggle="lightbox"
                            class="gallery-item d-flex flex-column">
                            <img src="https://eskamxd.github.io/gallery/lab03.webp"
                                alt="Laboratory project - Kamil Urbanowski" class="gallery-image" id="lab03">
                            <label style="color: black;" for="lab03">Laboratory project</label>
                        </a>
                    </div>
                </div>
                <p>
                    *Thanks to the competition photos, I was recognized in the <a
                        href="https://faktyoswiecim.pl/dzieje-sie/edukacja/kreatywni-2021-nagrodzeni-foto/">"Creative
                        2021"</a>
                    contest.
                </p>
            </div>


            <div id="seo" class="mb-5">
                <h3 class="dark underlined">SEO & Technical Optimization</h3>
                <p>I specialize mainly in the technical aspects of SEO, such as optimizing site structure, improving
                    loading speed,
                    and conducting technical SEO audits. I focus less on content creation, instead prioritizing proper
                    site
                    indexing, managing redirects, and implementing SEO best practices for performance. My work on the <a
                        class="dark" href="https://twojaprywatnosc.pl" target="_blank">twojaprywatnosc.pl</a> website
                    resulted in a
                    significant increase in organic traffic, particularly due to improvements in technical aspects of
                    the site, as
                    well as the implementation of content with carefully considered keywords and good content structure.
                </p>
                <p>Below is a comparison of the results for the <a class="dark" href="https://twojaprywatnosc.pl"
                        target="_blank">twojaprywatnosc.pl</a> website over a 3-month period (between August 10 and
                    October 10),
                    showing the effects of the technical SEO improvements:</p>
                <a href="https://eskamxd.github.io/images/webp-compression/poprawa-wyników-SEO.webp"
                    data-toggle="lightbox" class="image-placeholder d-flex flex-column"
                    style="width: 100%; height: 300px; background-color: #e0e0e0;">
                    <img src="https://eskamxd.github.io/images/webp-compression/poprawa-wyników-SEO.webp"
                        alt="SEO performance comparison" style="width: 100%; height: 100%; object-fit: cover;">
                    <p>Screenshot of the results from Google Search Console</p>
            </div>

            <div id="programming-studies" class="mb-5">
                <h3 class="dark underlined">Programming during Studies</h3>
                <p>During my studies, I developed several applications, focusing on web development using modern
                    technologies such
                    as React for front-end and Django for back-end. These projects helped me deepen my understanding of
                    full-stack
                    development and improve my skills in creating dynamic, responsive, and scalable applications.</p>

                <div id="coffeetime" class="mb-5">
                    <h3 class="dark underlined">Coffeetime</h3>
                    <p>CoffeeTime is my original web application designed to connect people for coffee meetings. It was
                        initially
                        created as part of a university project but later expanded from an idea for a café website in
                        the dormitory.
                        The application combines basic web technologies like HTML, CSS, and JavaScript, with PHP as the
                        primary
                        back-end language. Users can select convenient times for a coffee meeting, and the system
                        automatically
                        matches them and assigns a time within their availability. The idea came to me while... drinking
                        coffee.</p>
                    <a class="btn btn-primary" href="https://github.com/EskamXD/CoffeeTime">View on GitHub</a>
                </div>

                <div id="simple-blog-management-system" class="mb-5">
                    <h3 class="dark underlined">Simple Blog Management System</h3>
                    <p>The Simple Blog Management System is a desktop application written in Python. It reflects my
                        interest in
                        creating tools that simplify tasks and automate work. The idea originated while working on a
                        project
                        involving writing posts for a website to optimize keywords for SEO. I needed a tool to easily
                        manage the
                        content I had already written, create thumbnails for posts, and check metadata for appropriate
                        length. The
                        application uses the Tkinter library with the ttkbootstrap wrapper for the GUI and implements a
                        few design
                        patterns I learned in one of my courses.</p>
                    <a class="btn btn-primary" href="https://github.com/EskamXD/simple-blog-management-system">View on
                        GitHub</a>
                </div>

                <div id="receiptrover" class="mb-5">
                    <h3 class="dark underlined">ReceiptRover</h3>
                    <p>ReceiptRover is an OCR (Optical Character Recognition) application for scanning receipts and
                        recording
                        expenses, with the option for later analysis. It was developed by me and a group of colleagues
                        as part of a
                        Software Engineering course project. My primary contribution was creating the dynamic GUI, once
                        again using
                        the Tkinter library along with ttkbootstrap, which I had become familiar with from previous
                        projects.</p>
                    <a class="btn btn-primary" href="https://github.com/Nokrad997/ReceiptRover">View on GitHub</a>
                </div>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer class="footer content-flex">
        <div class="content-column screen" style="gap: 5%;">
            <a href="/" class="social-button"><img src="https://eskamxd.github.io/icons/oryginal/logo-dark.png"
                    alt="Logo" class="logo rotate" loading="lazy"></a>
            <hr class="content-column">
            <!-- Social media icons -->
            <div class="social">
                <a href="https://www.facebook.com/Urban4G" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/facebook-dark.png" alt="Facebook link"
                        class="logo hover-scale"></a>
                <a href="https://www.instagram.com/urbanseskam/" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/instagram-dark.png" alt="Instagram link"
                        class="logo hover-scale"></a>
                <a href="https://twitter.com/EskamXD" class="social-button" target="_blank"><img
                        src="https://eskamxd.github.io/icons/oryginal/twitter-dark.png" alt="Twitter link"
                        class="logo hover-scale"></a>
            </div>
            <p>
                All rights reserved &copy; 2024 by <a href="https://eskamxd.github.io" class="dark">Kamil
                    Urbanowski</a>
            </p>
        </div>
    </footer>

    <noscript>
        <link rel="stylesheet" href="https://eskamxd.github.io/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://eskamxd.github.io/css/navbar.css">
        <link rel="stylesheet" media="screen and (min-width: 768px)" href="https://eskamxd.github.io/css/pc.css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="https://eskamxd.github.io/css/phone.css">
    </noscript>

    <!-- Load bootstrap css -->
    <script>
        (function () {
            var cssBootstrap = document.createElement('link');
            cssBootstrap.href = 'https://eskamxd.github.io/bootstrap/css/bootstrap.min.css';
            cssBootstrap.rel = 'stylesheet';
            cssBootstrap.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssBootstrap);
        })();
    </script>

    <!-- Load core css -->
    <script>
        (function () {
            var cssMain = document.createElement('link');
            cssMain.href = 'https://eskamxd.github.io/css/navbar.css';
            cssMain.rel = 'stylesheet';
            cssMain.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(cssMain);

            var cssPc = document.createElement('link');
            cssPc.href = 'https://eskamxd.github.io/css/pc.css';
            cssPc.rel = 'stylesheet';
            cssPc.type = 'text/css';
            cssPc.media = 'screen and (min-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPc);

            var cssPhone = document.createElement('link');
            cssPhone.href = 'https://eskamxd.github.io/css/phone.css';
            cssPhone.rel = 'stylesheet';
            cssPhone.type = 'text/css';
            cssPhone.media = 'screen and (max-width: 768px)';
            document.getElementsByTagName('head')[0].appendChild(cssPhone);
        })();
    </script>

    <!-- Load core js -->
    <script>
        window.onload = function () {
            document.getElementById('side-menu').checked = false;
        }
    </script>

    <script>
        function changeLanguage() {
            const lang = document.getElementById('language-switcher').value;
            if (lang === 'pl') {
                window.location.href = "https://eskamxd.github.io/view/pl/portfolio.html";
            } else {
                window.location.href = "https://eskamxd.github.io/view/en/portfolio.html";
            }
        }

        // Funkcja, która ustawia odpowiedni język w dropdownie przy wczytaniu strony
        window.onload = function () {
            const currentUrl = window.location.href;
            const langSwitcher = document.getElementById('language-switcher');

            // Sprawdzamy URL, aby ustawić odpowiednią opcję jako wybraną
            if (currentUrl.includes("/pl/")) {
                langSwitcher.value = 'pl';
            } else {
                langSwitcher.value = 'en';
            }

            // Ustawienie menu na false po załadowaniu
            document.getElementById('side-menu').checked = false;
        };
    </script>

    <script src="https://eskamxd.github.io/js.js"></script>

    <!-- Load bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://eskamxd.github.io/bootstrap/lightbox_bootrstrap.bundle.min.js"></script>
    <script src="../../bootstrap/lightbox_bootrstrap.bundle.min.js"></script>

</body>

</html>
